<a href="https://colab.research.google.com/github/subhamghimire/Machine-Learning/blob/master/pandas_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [8]:
sal = pd.read_csv('Salaries.csv')
sal.head(10)

   Id        EmployeeName  ...         Agency  Status
0   1      NATHANIEL FORD  ...  San Francisco     NaN
1   2        GARY JIMENEZ  ...  San Francisco     NaN
2   3      ALBERT PARDINI  ...  San Francisco     NaN
3   4   CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5     PATRICK GARDNER  ...  San Francisco     NaN
5   6      DAVID SULLIVAN  ...  San Francisco     NaN
6   7           ALSON LEE  ...  San Francisco     NaN
7   8       DAVID KUSHNER  ...  San Francisco     NaN
8   9      MICHAEL MORRIS  ...  San Francisco     NaN
9  10  JOANNE HAYES-WHITE  ...  San Francisco     NaN

[10 rows x 13 columns]

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [10]:
sal['BasePay'].mean()

66325.44884050643

In [11]:
sal['OvertimePay'].max()

245131.88

In [16]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [17]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [21]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

   Id    EmployeeName  ...         Agency  Status
0   1  NATHANIEL FORD  ...  San Francisco     NaN

[1 rows x 13 columns]

In [22]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

            Id EmployeeName  ...         Agency  Status
148653  148654    Joe Lopez  ...  San Francisco     NaN

[1 rows x 13 columns]

In [30]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [34]:
sal['JobTitle'].nunique()

2159

In [39]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [40]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [0]:
def chief_string(title):
  if 'chief' in title.lower().split():
    return True
  else:
    return False

In [57]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [0]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [61]:
sal[['JobTitle','title_len']]

                                              JobTitle  title_len
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                      CAPTAIN III (POLICE DEPARTMENT)         31
2                      CAPTAIN III (POLICE DEPARTMENT)         31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                ...        ...
148649                                       Custodian          9
148650                                    Not provided         12
148651                                    Not provided         12
148652                                    Not provided         12
148653                      Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [47]:
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [0]:
ecom = pd.read_csv('Ecommerce Purchases')

In [66]:
ecom.head(5)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

In [70]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [71]:
ecom['Purchase Price'].mean()

50.34730200000025

In [75]:
ecom['Purchase Price'].max()

99.99

In [85]:
ecom[ecom['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [86]:
ecom[ecom['Job'] == 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [0]:
def lawyer_job(title):
  if 'lawyer' in title.lower().split():
    return True
  else:
    return False

In [84]:
sum(ecom['Job'].apply(lawyer_job))

30

In [92]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [93]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

In [95]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [100]:
ecom[ecom["Credit Card"] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [108]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [114]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:])=='25')

1033

In [117]:
ecom['Email'].apply(lambda x: x.split('@')[-1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64